* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(193, 207, 171);
}

#root {
  min-height: 100vh; /* Ensure the container spans the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 200px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

}

.product-controls {
  display: flex;
}

.product-input {
  width: 36px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

.product-quantity-buttons {
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.product-meta {
  display: flex;
  justify-content: space-between;
}

.product-increment, .product-decrement {
  /* font-size: 24px; */
  padding: 6px 12px;
}

.product-input {
  text-align: center;
  min-width: 64px;
}

.product-add-to-cart {
  width: 100%;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 40px;
}

.product {
  max-width: 350px;
  height: 550px;
  width: 100%;
}

.product-title {
  /* font-size: 1.1rem; */
  font-weight: bold;
  height: 40px
}
.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-image-container {
  width: 350px;
  height: 400px;
  background-color: white;
  flex-shrink: 0;
  padding: 32px;
  box-sizing: border-box;
}

.product-body {
  flex-direction: column;
  display: flex;
  height:100%;
  justify-content: space-between;
}