* {
    padding: 0;
    margin: 0;
}

.board-wrapper {
    text-align: center;
}

.player-board-wrapper, .computer-board-wrapper {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
}

.player-board, .computer-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: rgb(79, 149, 240);
    width: 500px;
    aspect-ratio: 1;
}

.header {
    background-color: rgb(66, 63, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.grid-cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: crosshair;
}

.player-board-cell-label, .computer-board-cell-label {
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    transition: opacity 0.1s;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ship-segment {
    background-color: rgb(31, 37, 117);
}

#randomise-button {
    width: fit-content;
}

.hit {
    background-color: red;
}

.miss {
    background-color: aliceblue;
}

.bottom-ui {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.display-message-box {
    width: 500px;
    height: 200px;
    overflow: auto;
    border: 1px solid black
}

