:root {
  --primary-color: #242424;
  --secondary-color: #ffffffde;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--secondary-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

/* body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px;
  box-sizing: border-box;
}

.navbar {
  background-color: var(--secondary-color);
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 12px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-links a.active {
  color: #323acc;
  border-bottom: 2px solid #323acc;
}

.post{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 12px;
  list-style: none;
  padding: 16px;
}

.post .date {
  font-size: 12px;
}

.post .author {
  font-weight: 500;
}

.post .title {
  font-size: 2rem;
}

.post a {
  text-decoration: none;
}

.posts {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
