* {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
  gap: 24px;
}

.gameboard {
  background-color: rgb(255, 213, 198);
  width: 1200px;
}

