.deck-size-selector-wrapper {
  display: flex;
  gap: 12px;
}

button {
  font-size: 1.5rem;
  padding: 12px;
}

.btn-twelve {
  background-color: rgb(187, 255, 187);
}

.btn-sixteen {
  background-color: rgb(250, 255, 187);
}

.btn-twentyfour {
  background-color: rgb(255, 187, 187);
}